.header {
  width: 100%;
  background-color: aqua;
  height: 30px;
}
.hero {
  width: 100%;
  height: 300px;
  background-color: antiquewhite;
  background-image: url("1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
li {
  display: inline-block;
  margin-left: 200px;
  font-size: 30px;
  color: darkred;
  text-decoration: underline;
}
img {
  width: 800px;
  max-width: 600px;
}
.heroh1 {
  padding-left: 300px;
  padding-top: 100px;
}
